* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: monument;
  src: url(../fonts/MonumentExtended-Regular.otf);
}

html,
body {
  width: 100%;
  height: 100vh;
  /* overflow: hidden; */
  font-family: monument;
  background-color: #000;
}

nav {
  position: fixed;
  width: 100%;
  padding: 1em;
  display: flex;
  justify-content: space-between;
}

nav h1 {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

.main h1 {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}

/* ////OVERLAY STYLES/////////// */

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #0f0f0f;
  color: #fff;
  display: flex;
  clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
  cursor: pointer;
}

.col {
  width: 50%;
  padding: 1em;
}

.col h2 {
  margin: 0;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  font-size: 60px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1;
}

.col:nth-child(2) h2 {
  font-size: 24px;
  text-align: right;
  color: gray;
}

.col:nth-child(2) h2 span {
  color: #fff;
}

.loader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
}

.loader .img {
  position: absolute;
  width: 100vw;
  height: 100vh;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.menu > div {
  height: 100%;
  display: flex;
}

.menu a {
  position: relative;
  top: 100px;
  line-height: 70%;
  text-decoration: none;
  color: #000;
}

.menu a span {
  font-size: 20px;
  margin-right: 2em;
}

.menu-item {
  position: relative;
  margin-top: 40px;
  cursor: pointer;
}

.menu-container {
  width: 70%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.primary-menu {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.primary-menu a {
  text-transform: uppercase;
  font-size: 120px;
  font-weight: 500;
  transition: all 0.7s ease;
  color: #fff;
}

.primary-menu a:hover{
  color: orangered;
  text-decoration: line-through;
}

/* ////////////////////////PROJECTS STYLES//////////////////////////////// */

.main-wrapper{
  display: flex;
}

section{
  height: 100vh;
  width: 100vw;
  flex-shrink: 0;
}

.section-1{
  /* background-color: #fff; */
  display: flex;
}

.section-2{
  transform: translate(8%);
}

.section-3{
  background-color: #000;
  margin-top: -100vh;
  position: relative;
  padding: 20px 0;
}

.box1{
  width: 65%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  color: #fff;
}

.name{
  font-size: 100px;
  text-transform: uppercase;
}

.name2 span{
  font-size: 140px;
  text-transform: uppercase;
  text-decoration: line-through;
  text-decoration-color: orangered;
}

.scroll{
  margin-top: 90px;
  margin: 0 auto;
  text-transform: uppercase;
}

.box2{
  width: 35%;
}

.image-gallery{
  display: flex;
  height: 100vh;
}

.gallery-col{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gallery-col img{
  min-height: 300px;
  height: auto;
  width: 200px;
  object-fit: cover;
  /* padding: 5px; */
  background-color: #000;
}

.col-1 img,
.col-3 img{
  padding: 0.2rem 0.5rem;
}

.col-2 img{
  padding: 0.2rem 0;
}

.side-bar{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 85px;
  background-color: #000;
  height: 100%;
  padding: 2rem 1rem;
  position: fixed;
  z-index: 11;
  left: -11.33%;
  top: 0;
  opacity: 0;
  color: #fff;
}

.side-bar div{
  transform: rotate(-90deg);
}

.brand-name{
  width: 200px;
}

.des{
  font-size: 10px;
  width: 200px;
  text-transform: uppercase;
  margin-bottom: 5rem;
}

.inner-wrapper{
  display: flex;
  width: 100%;
  height: 100%;

}

.left{
  width: 70%;
  padding: 0 0.8rem;
  padding-left: 0;
  padding-bottom: 0.5rem;
}



.left img{
  width: 100%;
  height: 400px;
  object-fit: cover;
}

p{
  font-size: 60px;
}

.line-1{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.line-2{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}

.num{
  text-align: left;
  width: 100%;
}

.loop{
  height: 30px;
  width: 175px;
  white-space: nowrap;
  overflow: hidden;
  background: none;
  border: 1px solid #444;
  position: absolute;
  top: 75%;
  left: 80%;
  cursor: pointer;
}

.loop span{
  animation: loop 10s linear infinite;
  display: inline-block;
  padding-left: 110%;
}

.loop2 span{
  animation-delay:5s;
}

@keyframes loop{
  0%{
    transform: translate(0,0);
  }
  100%{
    transform: translate(-100%,0);
  }
}

.right{
  width: 35%;
  /* margin-top: 20px; */
}

.animate-text{
  height: 100px;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 10px;
  padding: 0px 10px;
}

.animate-text span{
  font-size: 20px;
  /* animation: loop 10s linear infinite; */
  display: inline-block;
  color: orangered;
}

.animate-text p{
  font-size: 8px;
  margin-top: 10px;
  width: 20px;
}



.animate-text a{
  font-size: 11px;
  margin-top: 8px;
  display: block;
  text-decoration: none;
  color: #fff;
}

.animate-text a:hover{
  text-decoration: line-through;
  text-decoration-color: orangered;
}

.img-container {
  width: 530px;
  height: 700px;
  padding: 0.5rem;
  background-color: #000;
}

.project-image{
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

.about{
  color: #fff;
  font-size: 60px;
  text-align: center;
}
.about h1{
  text-decoration: line-through;
  text-decoration-color: orangered;
}