
.svg-overlay{
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 0;
}

.svg .path{
  fill: #0a0a0a;
}

#toggle-btn{
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em;
  z-index: 2;
  cursor: pointer;
}

.btn-outline{
  position: absolute;
  width: 100px;
  height: 100px;
  border: 1px solid #0a0a0a;
}

.btn-outline1 {
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  animation: morph 4s linear infinite;
}

.btn-outline2 {
  border-radius: 53% 47% 43% 57% / 51% 39% 61% 49%;
  /* animation: morph 4s linear infinite; */
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

#hamburger {
  position: relative;
  width: 20px;
  height: 20px;
  z-index: 2;
}

#hamburger span{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  width: 24px;
  height: 1.25px;
  background: #0a0a0a;
  transition: transform 0.25s;
}

#hamburger span::before{
  position: absolute;
  right: 0;
  display: inline-block;
  content: "";
  width: 18px;
  height: 1.25px;
  background: #0a0a0a;
  transform: translateY(-4px);
  transition: transform 0.25s;
}

#hamburg .active span{
  transform: rotate(45deg);
}

#hamburg .active span::before{
  top: unset;
  width: 24px;
  transform: rotate(-90deg);
}

.menu{
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.menu > div {
  height: 100%;
  display: flex;
}

.menu h3{
  position: relative;
  top: 120;
  line-height: 70%;
  text-decoration: none;
}

.menu h3 span{
  font-size: 20px;
  margin-right: 2em;
}

.menu-item{
  position: relative;
}

.menu-item:after {
  content: "";
  position: absolute;
  top: 100px;
  left: -20px;
  width: 150%;
  height: 200%;
  background: #0a0a0a;
  margin: 0 auto;
}

.menu-container{
  width: 70%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.primary-menu{
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.primary-menu .wrapper .menu-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.primary-menu  h3{
  text-transform: uppercase;
  font-size: 125px;
  font-weight: 500;
}

